<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.furkanyavuz.controller" />
	<mvc:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/order_management_db" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.furkanyavuz.model.Customer</value>
				<value>com.furkanyavuz.model.Product</value>
				<value>com.furkanyavuz.model.SalesOrder</value>
				<value>com.furkanyavuz.model.OrderLine</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="customerDao" class="com.furkanyavuz.dao.CustomerDaoImpl"></bean>
	<bean id="productDao" class="com.furkanyavuz.dao.ProductDaoImpl"></bean>
	<bean id="salesOrderDao" class="com.furkanyavuz.dao.SalesOrderDaoImpl"></bean>
	<bean id="customerServices" class="com.furkanyavuz.services.CustomerServicesImpl"></bean>
	<bean id="productServices" class="com.furkanyavuz.services.ProductServicesImpl"></bean>
	<bean id="salesOrderServices" class="com.furkanyavuz.services.SalesOrderServicesImpl"></bean>
</beans>